<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.websocketproject.mapper.ChatMapper">
    <insert id="chatMessage" parameterType="com.example.websocketproject.entity.ChatMessageDTO">
        insert into chatmessage(id, sender, message)
        values(#{id}, #{sender}, #{message})
    </insert>

    <select id="chatList" parameterType="String" resultType="com.example.websocketproject.entity.ChattingRoomDTO">
        select *
        from chattingroom
        where request_user = #{id}
        or response_user = #{id}
    </select>

    <select id="roadChat" parameterType="String" resultType="com.example.websocketproject.entity.ChatMessageDTO">
        select *
        from chatmessage
        where id = #{id}
        order by num DESC LIMIT 15;
    </select>

    <select id="matching" parameterType="String" resultType="com.example.websocketproject.entity.User">
        select *
        from member
        where mbti = #{mbti}
        and gender = #{gender}
        and user_id != #{user_id}
        order by RAND() LIMIT 1;
    </select>

    <select id="matchingRandom" parameterType="String" resultType="com.example.websocketproject.entity.User">
        select *
        from member
        where gender = #{gender}
        and user_id != #{user_id}
        order by RAND() LIMIT 1;
    </select>

    <insert id="createdRoom" parameterType="String">
        insert into chattingroom(request_user, response_user)
        values(#{request_user}, #{response_user})
    </insert>

    <select id="firstMessage" resultType="int">
        select id
        from chattingroom
        where request_user = #{user_id}
        order by id DESC LIMIT 1;
    </select>

    <select id="setCreatedRoom" parameterType="String" resultType="com.example.websocketproject.entity.ChattingRoomDTO">
        select *
        from chattingroom
        where request_user = #{request_user}
        and response_user = #{response_user}
    </select>
</mapper>