<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.websocketproject.mapper.UserMapper">

    <insert id="createUser" parameterType="com.example.websocketproject.entity.User">
        insert into member(user_id, pw, gender, mbti)
        values (#{user_id},#{pw},#{gender},#{mbti})
    </insert>

    <select id="getList" parameterType="com.example.websocketproject.entity.User" >
        select * from member
    </select>

    <select id="getUser" parameterType="com.example.websocketproject.entity.User" resultType="com.example.websocketproject.entity.User" >
        select *
        from member
        where user_id=#{user_id} and pw=#{pw}
    </select>

    <select id="overlappedID" parameterType="String" resultType="int">
        select count(*) From member where user_id=#{user_id}
    </select>

    <select id="admin_login" parameterType="com.example.websocketproject.entity.User" resultType="com.example.websocketproject.entity.User" >
        select *
        from member
        where user_id=#{user_id} and pw=#{pw} and grade='A'
    </select>

    <select id="admin" parameterType="com.example.websocketproject.entity.User" resultType="com.example.websocketproject.entity.User">
        select user_id,grade,joinDated,reportcheck,blockcheck
        from member
    </select>

    <select id="blockView" parameterType="com.example.websocketproject.entity.User" resultType="com.example.websocketproject.entity.User">
        select user_id,reportcheck,blockcheck
        from member
        where blockcheck='Y'
    </select>
</mapper>